############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
.node_history
.vscode

