<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  --}}
    {{ style('https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css') }}
    {{ style('https://adminlte.io/themes/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}
    {{ style('https://adminlte.io/themes/AdminLTE/bower_components/Ionicons/css/ionicons.min.css') }}
    {{ style('https://adminlte.io/themes/AdminLTE/plugins/iCheck/all.css') }}
    {{ style('https://use.fontawesome.com/releases/v5.8.1/css/all.css') }}
    {{ style('admin/css/adminlte/dist/css/AdminLTE.min.css') }}
    {{ style('admin/css/adminlte/dist/css/skins/_all-skins.min.css') }}
    {{ style('admin/css/adminlte/dist/css/skins/_all-skins.min.css') }}
    {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js') }}

    @!section('style')

  <title>Constant Admin Panel</title>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="/" class="logo">
          Constant Admin Panel
        </a>
        <nav class="navbar navbar-static-top">
         <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </a>
         <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li>
                <a href="/admin/auth/logout">
                  <i class="fas fa fa-sign-out-alt"></i>
                </a>
              </li>
            </ul>
         </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/admin/image/256-512.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Constant User</p>
              <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
            </div>
          </div>
          <ul class="sidebar-menu tree" data-widget="tree">
                <li class="treeview">
                  <a href="#">
                    <i class="fas fa fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <!-- @if(permission(userpermissions, 'get', 'admin.user.index')) -->
                <li class="treeview">
                  <a href="#">
                    <i class="fa fas fa-users-cog"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
                      <i class="fas fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" style="display: none">
                    <li>
                      <a href="{{ route('admin.user.index') }}?admin=true">
                        <i class="fa fas fa-edit"></i>
                        Admins
                      </a>
                    </li>
                    <li>
                      <a href="{{ route('admin.user.index') }}">
                        <i class="fa fas fa-edit"></i>
                        Users
                      </a>
                    </li>
                  </ul>
                  <!-- <a href="{{ route('admin.user.index') }}"> -->
                  <!--   <i class="fas fa fa-users"></i> -->
                  <!--   <span>Users</span> -->
                  <!-- </a> -->
                </li>
                <!-- @endif -->
                <!-- @if(permission(userpermissions, 'get', 'admin.candidate.index')) -->
                <li>
                    <a class="nav-link" href="{{ route('admin.candidate.index') }}">
                      <i class="fas fa fa-vote-yea"></i>
                      <span>Candidate</span>
                      </a>
                    </li>
                <!-- @endif -->
                <!-- @if(permission(userpermissions, 'get', 'admin.portalborrow.index')) -->
                <li class="treeview">
                  <a class="nav-link" href="{{route('admin.portalborrow.index')}}">
                      <i class="fas fa fa-vote-yea"></i>
                    <span>Portal borrows</span>
                  </a>
                </li>
                <!-- @endif -->
                <!-- @if(permission(userpermissions, 'get', 'admin.portalborrowresponse.index')) -->
                <li class="treeview">
                  <a class="nav-link" href="{{route('admin.portalborrowresponse.index')}}">
                      <i class="fas fa fa-vote-yea"></i>
                    <span>Portal borrow reponse</span>
                  </a>
                </li>
                <!-- @endif -->
                <!-- @if(permission(userpermissions, 'get', 'admin.proposal.dcbindex')) -->
                <li class="treeview">
                  <a href="#">
                    <i class="fa fas fa-users-cog"></i>
                    <span>Proposals</span>
                    <span class="pull-right-container">
                      <i class="fas fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" style="display: none">
                    <li>
                      <a href="{{route('admin.proposal.dcbindex')}}">
                        <i class="fa fas fa-edit"></i>
                        DCB
                      </a>
                    </li>
                    <li>
                      <a href="{{route('admin.proposal.govindex')}}">
                        <i class="fa fas fa-edit"></i>
                        GOV
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- @endif -->
                <!-- @if(permission(userpermissions, 'get', 'admin.proposal.govindex')) -->
                <!-- @endif -->
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
            @if(flashMessage('success'))
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Success</h4>
                {{ flashMessage('success') }}
              </div>
            @endif
            @if(flashMessage('info'))
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Info</h4>
                {{ flashMessage('info') }}
              </div>
            @endif
            @if(flashMessage('warning'))
              <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Warning</h4>
                {{ flashMessage('warning') }}
              </div>
            @endif
            @if(flashMessage('error'))
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4>Error</h4>
              {{ flashMessage('error') }}
            </div>
            @endif
          </div>
        </div>
        <section class="content-header">
          @!section('content_header')
        </section>
        <section class="content">
          <div class="row">
            @!section('content')
          </div>
        </section>
      </div>
    </div>
    @!section('suffix_script')
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{ script('admin/js/jquery.min.js') }}
    {{--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>  --}}
    {{--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  --}}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js') }}
    <!-- {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js') }} -->
    {{ script('https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js') }}
    {{ script('https://adminlte.io/themes/AdminLTE/bower_components/fastclick/lib/fastclick.js') }}
    {{ script('admin/js/icheck/icheck.min.js') }}
    {{ script('admin/js/adminlte/dist/adminlte.min.js') }}
    {{ script('admin/js/constant.js') }}
    @!section('script')
  </body>
</html>
